@font-face {
  font-family: Roboto;
  src: url(./Roboto-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Segoe UI, sans-serif;
  -ms-content-zooming: none;
  touch-action: none;
}

.main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: [start] 384px [mid] auto [end];
  grid-template-rows: [start] 64px [mid] auto [mid2] 32px [end];
  grid-template-areas: "sidebarHeader mainBodyHeader" "sidebar mainBody" "sidebar statusBar";
}

.offlineMain {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: [start] 64px [mid] auto [end];
  grid-template-areas: "sidebarHeader" "mainBody";
}

.statusBar {
  grid-area: statusBar;
}

.sidebar {
  grid-area: sidebar;
  box-sizing: border-box;
  overflow-y: auto;
}

.mainBody {
  grid-area: mainBody;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0 16px 0 16px;
}

.mainBody .itemsList {
  padding: 16px 0 16px 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 256px);
  grid-auto-rows: 256px;
  grid-gap: 16px;
  justify-content: center;
}

.mainBody .itemsList div {
  box-sizing: border-box;
}

.mainBody .itemsList div.wide {
  grid-column: span 2;
}

.mainBody .itemsList div.tall {
  grid-row: span 2;
}

.mainBody .itemsList div.large {
  grid-row: span 2;
  grid-column: span 2;
}

.mainBody .divider {
  margin: 16px 0 16px 0 !important;
}

.mainBody .itemsList.hiddenItems {
  overflow: hidden;
}

.sidebarHeader {
  grid-area: sidebarHeader;
  background: #0057cb;
  z-index: 1000;
}

.sidebarHeader .rightSide .icon {
  color: white !important;
  margin: 0 5px 0 5px;
  vertical-align: middle;
}
.sidebarHeaderButton {
  vertical-align: middle;
}
.sidebarHeaderButton svg {
  color: white !important;
}

.mainBodyHeader {
  grid-area: mainBodyHeader;
  background: #0083ff;
  color: white;
  box-sizing: border-box;
  line-height: 64px;
  vertical-align: middle;
  z-index: 1000;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 8px 48px 8px auto auto;
  grid-template-areas: ". icon . title buttons";
}

.deviceIconBig {
  grid-area: icon;
  font-size: 24px;
  vertical-align: middle;
  line-height: 64px;
  text-align: center;
}

.title {
  grid-area: title;
  margin: 0;
  font-size: 24px;
}

.sleepingBear {
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./assets/polarBear.svg);
}

.mainBodyBG {
  background-image: url("./assets/logoBG.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: calc(50% + 175px) 50%;
}

.darkMainBodyBG {
  background-image: url("./assets/darkLogoBG.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: calc(50% + 175px) 50%;
}

.deviceIcon {
  width: 24px;
  height: 24px;
  margin: 12px;
}

.notSelectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loginBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 45px 0 45px 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  background-size: cover;
  background-image: url("./assets/loginBackground.jpg");
}

.loginForm {
  width: 816px;
  height: 600px;
  margin: auto auto auto auto;
  text-align: center;
  display: grid;
  grid-template-columns: [start] 500px [mid] 316px [end];
}

.offlineLoginPaper {
  width: 550px;
  height: 600px;
  margin: auto auto auto auto;
}

.offlineLoginForm {
  height: 600px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm .leftSide {
  grid-column: start mid;
  background: #0057cb;
  color: white;
  font-size: 23px;
}
.loginForm .rightSide {
  padding: 16px 32px 0px 32px;
  grid-column: mid end;
}

.loginForm .logo {
  display: block;
  margin: 16px auto 0 auto;
}
.loginForm h1 {
  color: #0083ff;
}

.offlineBody {
  text-align: center;
  color: #0083ff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBody.offlineBody {
  background: unset;
}

.invisibleHeader {
  grid-row: start / mid;
  grid-column: start / end;
  background: transparent;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px;
}

.goToLogin,
.goToSignup {
  cursor: pointer;
  color: #0083ff;
}

.sidebarHeaderIcons {
  color: #ffffff;
}

.deviceEditFab {
  position: absolute;
  left: 312px;
  bottom: 16px;
}

.mobileDeviceEditFab {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.loginForgotPassoword {
  cursor: pointer;
  color: #0083ff;
}

.loginScreen {
  height: calc(100% - 48px);
}

.sidebarBadge {
  cursor: pointer;
}

div[menutype="notifications"] {
  padding: 0px !important;
  background-color: white;
  height: 100%;
  display: block !important;
}

@media screen and (max-width: 1050px) {
  .main {
    grid-template-columns: [start] 33% [mid] 67% [end];
  }
  .deviceEditFab {
    left: calc(33vw - 75px);
  }
}
.notification-enter {
  opacity: 0.01;
}
.notification-enter.notification-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.notification-leave {
  opacity: 1;
}
.notification-leave.notification-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.defaultCursor {
  cursor: default;
}

input[type="text"]::-ms-clear {
  display: none;
}

input[type="password"]::-ms-reveal {
  display: none;
}

::selection {
  background: #0083ff; /* WebKit/Blink Browsers */
  color: #fff;
}

::-moz-selection {
  background: #0083ff; /* Gecko Browsers */
  color: #fff;
}
