@font-face {
  font-family: Roboto;
  src: url(./Roboto-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Segoe UI, sans-serif;
  -ms-content-zooming: none;
  touch-action: none;
}

.main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: [start] 350px [mid] auto [end];
  grid-template-rows: [start] 60px [mid] auto [end];
  grid-template-areas: "sidebarHeader mainBodyHeader" "sidebar mainBody";
}

.sidebar {
  grid-area: sidebar;
  background: #f2f2f2;
  box-sizing: border-box;
  overflow-y: auto;
}

.mainBody {
  grid-area: mainBody;
  background: white;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0 15px 0 15px;
}
.mainBody .itemsList {
  padding: 15px 0 15px 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: 250px;
  grid-gap: 15px;
  justify-content: center;
}
.mainBody .itemsList div {
  box-sizing: border-box;
}
.mainBody .itemsList div.wide {
  grid-column: span 2;
}
.mainBody .itemsList div.tall {
  grid-row: span 2;
}
.mainBody .itemsList div.large {
  grid-row: span 2;
  grid-column: span 2;
}
.mainBody .divider {
  margin: 15px 0 15px 0 !important;
}
.mainBody .itemsList.hiddenItems {
  overflow: hidden;
}

.sidebarHeader {
  grid-area: sidebarHeader;
  vertical-align: middle;
  line-height: 60px;
  background: #0057cb;
  z-index: 1000;
}

.sidebarHeader .rightSide {
  color: white;
  display: inline-block;
  float: right;
  margin-right: 15px;
}

.sidebarHeader .rightSide .icon {
  color: white !important;
  margin: 0 5px 0 5px;
  vertical-align: middle;
}
.sidebarHeaderButton {
  vertical-align: middle;
}
.sidebarHeaderButton svg {
  color: white !important;
}

.mainBodyHeader {
  grid-area: mainBodyHeader;
  background: #0083ff;
  color: white;
  box-sizing: border-box;
  line-height: 60px;
  font-size: 30px;
  vertical-align: middle;
  z-index: 1000;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 15px 40px 15px auto 54px;
  grid-template-areas: ". icon . title buttons";
}

.deviceIconBig {
  grid-area: icon;
  font-size: 35px;
  vertical-align: middle;
  line-height: 60px;
  text-align: center;
}
.title {
  grid-area: title;
  margin: 0;
}

.mainBodyHeaderIcon {
  grid-area: buttons;
  color: white;
}

.logo {
  padding: 20px 10px;
  vertical-align: middle;
}

.miniLogo {
  padding: 0px 10px;
  vertical-align: middle;
}

.mainBody {
  background-image: url("/assets/logoBG.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: calc(50% + 175px) 50%;
}

.deviceIcon {
  width: 24px;
  height: 24px;
  margin: 12px;
}

.notSelectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loginBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 45px 0 45px 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  background-size: cover;
  background-image: url("/assets/loginBackground.jpg");
}

.loginForm {
  width: 816px;
  height: 600px;
  margin: auto auto auto auto;
  text-align: center;
  display: grid;
  grid-template-columns: [start] 500px [mid] 316px [end];
}
.loginForm .leftSide {
  grid-column: start mid;
  background: #0057cb;
  color: white;
  font-size: 23px;
}
.loginForm .rightSide {
  padding: 15px 30px 15px 30px;
  grid-column: mid end;
}
.loginForm .logo {
  display: block;
  margin: 15px auto 0 auto;
}
.loginForm h1 {
  color: #0083ff;
}

.offlineBody {
  margin-top: 15%;
  text-align: center;
  color: #0083ff;
  font-weight: bold;
}

.mainBody.offlineBody {
  background: unset;
}

.invisibleHeader {
  grid-row: start / mid;
  grid-column: start / end;
  background: transparent;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px;
}

.goToLogin,
.goToSignup {
  cursor: pointer;
  color: #0083ff;
}

.sidebarHeaderIcons {
  color: #ffffff;
}

.deviceEditFab {
  position: absolute;
  left: 275px;
  bottom: 20px;
}

.leftSideIgloo {
  font-size: 100px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.leftSideCloudRemote {
  font-size: 33px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.loginForgotPassoword {
  cursor: pointer;
  color: #0083ff;
}

.notificationsLeftSide {
  grid-area: leftSide;
  color: #ffffff;
}

.notificationsRightSide {
  grid-area: rightSide;
  color: #ffffff;
}

.notificationsTopBar {
  background: #0083ff;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 6px 48px auto 48px 6px;
  grid-template-areas: ". leftSide . rightSide .";
}

div[menutype="notifications"] {
  padding: 0px !important;
}

@media screen and (max-width: 1050px) {
  .main {
    grid-template-columns: [start] 33% [mid] 67% [end];
  }

  .deviceEditFab {
    left: calc(33vw - 75px);
  }
}
