.mobileMain {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: [start] 60px [mid] auto [end];
  grid-template-areas: "header" "body";
}

.mobileSidebar {
  grid-area: body;
  box-sizing: border-box;
  overflow-y: auto;
}

.mobileSidebarHeader {
  grid-area: header;
  vertical-align: middle;
  line-height: 60px;
  background: #0057cb;
  z-index: 1000;
}

.mobileMainBody {
  grid-area: body;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0 15px 0 15px;
}

.mobileMainBodyHeader {
  grid-area: header;
  background: #0083ff;
  color: white;
  box-sizing: border-box;
  line-height: 60px;
  font-size: 30px;
  vertical-align: middle;
  z-index: 1000;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 8px 32px 8px 40px 16px auto 160px 16px;
  grid-template-areas: ". backIcon . icon . title buttons .";
}

.mobileSidebarHeader {
  grid-area: header;
  vertical-align: middle;
  line-height: 60px;
  background: #0057cb;
  z-index: 1000;
}

.mobileSidebarHeader .rightSide {
  color: white;
  display: inline-block;
  float: right;
  margin-right: 16px;
}

.mobileSidebarHeader .rightSide .icon {
  color: white !important;
  margin: 0 5px 0 5px;
  vertical-align: middle;
}

.mobileSidebarHeaderButton {
  vertical-align: middle;
}

.mobileSidebarHeaderButton svg {
  color: white !important;
}

.mobileDeviceIconBig {
  grid-area: icon;
  font-size: 35px;
  vertical-align: middle;
  line-height: 60px;
  text-align: center;
}

.mobileBackIcon {
  grid-area: backIcon;
}
