.tileHeader {
  width: 100%;
  height: 56px;
  display: grid;
  background: rgb(232, 232, 232);
  grid-template-columns: auto 100px;
  grid-template-rows: 56px;
  grid-row-gap: 10px;
  padding: 0 0 0 10px;
  grid-template-areas: "title buttons";
}

.tileHeader .tileTitle {
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.4);
  line-height: 56px;
  font-size: 20px;
}
.tileHeader .tileHeaderButtons {
  grid-area: buttons;
  padding-top: 4px;
}

.readOnlyBooleanTile,
.readOnlyColourTile,
.readWriteBooleanTile,
.readWriteColourTile {
  width: 100%;
  height: calc(100% - 56px);
}
.readOnlyBooleanTile svg {
  height: 100px;
  padding: 47px 75px 47px 75px;
}
.wide .readOnlyBooleanTile svg {
  padding: 47px 207px 47px 207px;
}
.tall .readOnlyBooleanTile svg {
  padding: 160px 75px 160px 75px;
}
.large .readOnlyBooleanTile svg {
  height: 200px;
  padding: 130px 157px 130px 157px;
}
.readOnlyBooleanTile svg {
  color: red;
}
.readOnlyBooleanTile.active svg {
  color: green;
}

.readWriteBoundedFloatTile {
  width: 100%;
  height: calc(100% - 56px);

  display: grid;
  grid-template-columns: 15px 25px 10px auto 10px 25px 15px;
  grid-template-rows: auto 50px 30px auto;
  grid-template-areas: ". . . . . . ." ". min . slider . max ." ". . . number . . ." ". . . . . . .";
}

.readWriteBoundedFloatTile .min {
  line-height: 50px;
  grid-area: min;
}
.readWriteBoundedFloatTile .max {
  line-height: 50px;
  grid-area: max;
}
.readWriteBoundedFloatTile .slider {
  padding-top: 16px;
  grid-area: slider;
}
.readWriteBoundedFloatTile .number {
  grid-area: number;
  text-align: center;
  line-height: 30px;
}

.readOnlyColourTile .colourDot {
  margin: 22px auto 22px auto;
  width: 150px;
  height: 150px;
  border-radius: 75px;
}

.readWriteBooleanTile .boolToggle {
  margin: 22px auto 22px auto;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  padding: 25px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 20px;
  cursor: pointer;
  transition: box-shadow 0.2s linear;
}

.readWriteBooleanTile .boolToggle:active {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px;
}

.readWriteColourTile {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". . ." ". picker ." ". . .";
  vertical-align: middle;
  line-height: 100%;
}

.wide .readWriteColourTile {
  grid-template-columns: 1fr 1fr 1fr;
}

.readWriteColourTile .colourPicker {
  vertical-align: middle;
  width: initial !important;
  grid-area: picker !important;
  box-shadow: unset !important;
  border-radius: unset !important;
  display: inline-block;
}

.readWriteColourTile .colourPicker > div {
  border-radius: unset !important;
}
